<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTooL</title>
</head>
<body>
    <header>
        <div>
            <h1>LTooL</h1>

            {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'profile' %}"><img src="/media/{{icon}}"></a>
            </div>
            {% endif %}

            {% if not request.user.is_authenticated and not auth_page %}
            <div>
                <a href="{% url 'login' %}">ログイン</a>
                <a href="">ユーザー登録</a>
            </div>
            {% endif %}
        </div>

        <div>
            {% if request.user.is_authenticated %}
            <ul>
                <a href="{% url 'mypage' %}"><li>マイページ</li></a>
                <a href=""><li>スケジュール</li></a>
                <a href=""><li>コンテナ</li></a>
                <a href=""><li>発表設定</li></a>
            </ul>
            {% endif %}
        </div>
    </header>
    <main>
    {% block main %}{% endblock %}
    </main>
</body>
</html>